.carousel-container {
   
    display: flex;
    flex-direction: row;

  }
  
  .carousel {
    display: flex;
    flex-direction: row;
    height: 300px;
    top: 50%;
    padding-top: 3rem;
    width: 100%;
   
  }
  
  .carousel img {
    width: 100%;
    
  }
  
  .prev-btn,
  .next-btn {
    margin-top: -7.58rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 16px;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
  